<!-- templates/index.html -->
<form action="/estimate" method="post">
    <label for="well_depth">Well Depth:</label>
    <input type="text" name="well_depth" required><br>

    <label for="average_temperature_in_fahrenheit">Average Temperature In Fahrenheit:</label>
    <input type="text" name="average_temperature_in_fahrenheit" required><br>

    <label for="specific_gas_gravity">Specific Gas Gravity:</label>
    <input type="text" name="specific_gas_gravity" required><br>

    <label for="wellhead_pressure">Wellhead Pressure:</label>
    <input type="text" name="wellhead_pressure" required><br>

    <input type="submit" value="Calculate">
</form>
